<a href="https://colab.research.google.com/github/DaKinder/CSharp_Base_Library/blob/main-branch/Seminar%26Homework_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pnd

In [13]:
data = pnd.read_csv('sample_data/california_housing_test.csv')

## Задача №57
1. Прочесть с помощью pandas файл
california_housing_test.csv, который находится в папке
sample_data

# 2. Посмотреть сколько в нем строк и столбцов

In [7]:
data.shape

(3000, 9)

3. Посмотреть на хвост табоицы

In [15]:
data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

3. Определить какой тип данных имеют столбцы

In [ ]:
data.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

## Задача №59
1. Проверить есть ли в файле пустые значения

In [ ]:
data.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

2. Показать median_house_value где median_income < 2

In [ ]:
data[data['median_income'] < 2 ]['median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

3. Показать данные в первых 2 столбцах

In [16]:
data[['longitude', 'latitude']]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

4. Выбрать данные где housing_median_age < 20 и
median_house_value > 70000

In [ ]:
data[(data['housing_median_age'] < 20) & (data['median_house_value'] > 70000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
...,...,...,...,...,...,...,...,...,...
2978,-121.34,38.64,17.0,2761.0,501.0,1128.0,482.0,3.7562,139700.0
2981,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0
2984,-117.59,33.88,13.0,3239.0,849.0,2751.0,813.0,2.6111,107000.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0

## Задача №61
1. Определить какое максимальное и минимальное
значение median_house_value

In [ ]:
data['median_house_value'].min()

500001.0

In [ ]:
data['median_house_value'].max()

500001.0

2. Показать максимальное median_house_value, где
median_income = 3.1250

In [ ]:
data[data['median_income'] == 3.1250]['median_house_value'].max()

233300.0

3. Узнать какая максимальная population в зоне
минимального значения median_house_value

In [ ]:
data[data['median_house_value'] == data['median_house_value'].min()]['population'].max()

1230.0

#**Домашнее** задание № 9

##Задача №40
Работать с файлом california_housing_train.csv, который находится в папке
sample_data.

In [ ]:
data = pnd.read_csv('sample_data/california_housing_train.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [ ]:
data[(data['population'] > 0) & (data['population'] < 500)].median_house_value.mean()

206683.83635227982

## Задача №42
Узнать какая максимальная households в зоне минимального значения population

In [ ]:
data[data['population'] == data.population.min()].households.max()

4.0